.container {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--background);
  position: sticky;
  top: 0;
  z-index: 3;
  max-width: var(--max-width);
  margin: 0 auto;
}

.logo {
  color: var(--primary-color);
}

.nav-button {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
