.link-button {
  text-decoration: none;
  color: var(--text-color);
  padding: 0.5rem;
  border-radius: 6px;
}

.button-selected {
  background-color: var(--primary-color);
  color: #000;
  border: 1px solid #000;
}